$active-bg: #eee;
$bg: white;

$box-shadow-color: rgba(0, 0, 0, 0.3);

$border-color-hover: #666;
$border-color: #999;
$border-color-light: #ebeef5;
$border-radius: 4px;

$font-size-b: 15px;
$font-size-m: 13px;
$font-size-s: 12px;
$font-size: 14px;


$red: #F1453D;
$brown: #303113;
$blue: #4a90e2;
$beige: #eee;
$gray: #666;
$gray-light: #aaa;
$black: #333;
$green: rgb(64, 181, 129);
$gray-blue: #606266;