$active-bg: #eee;
$bg: white;

$box-shadow-color: rgba(0, 0, 0, 0.3);

$border-color-hover: #666;
$border-color: #999;
$border-color-light: #ccc;
$border-radius: 4px;

$font-size-b: 15px;
$font-size-m: 13px;
$font-size-s: 12px;
$font-size: 14px;

$red: #F1453D;
$brown: #303113;
$blue-light: #4a90e2;
$blue: #1890ff;
$beige: #eee;
$gray: #666;
$gray-light: #aaa;
$beige-light: rgb(232, 232, 232);
$beige-lighter: rgb(247, 247, 247);
$black: #333;
$black-deep: rgb(89, 89, 89);
$green: rgb(64, 181, 129);
$gray-blue: #606266;
$white: white;

@mixin rotateAnimation {
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}