::-webkit-scrollbar {  // 滚动条中间道
  background-color: rgb(241,241,241);
  width: 6px;
}
::-webkit-scrollbar-button {  // 滚动条上下方两个小按钮, 如果不需要可以设为display: none
  height: 0px;
}
/*滚动条两端方向按钮*/
::-webkit-scrollbar-button {
  background-color: white;
}

/*滚动条中间滑动部分*/
::-webkit-scrollbar-thumb {
  background-color: rgb(193,193,195);
  border-radius: 5px;
}
